# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

*.DS_Store

bower_components

node_modules

*.log

src/css/style.css
src/css/all.css
src/js/all.js

static/css/all.min.css
static/js/all.min.js
static/fonts/FontAwesome.otf
static/fonts/fontawesome-webfont.eot
static/fonts/fontawesome-webfont.svg
static/fonts/fontawesome-webfont.ttf
static/fonts/fontawesome-webfont.woff
