white = #ffffff
@charset 'uft-8'
p
  margin-top 2rem
.navbar-inverse
  .navbar-brand
    color white
    padding-left 0
.container-main-top
  margin-top 4rem
.fa-2
  font-size 2rem
.btn-signin
  span
    margin-left 0.7rem
    position relative
    bottom 0.2rem
